[2016-02-24 20:16] joeframbach opened #1 "Replace "in a few seconds" with more accurate time"
Agendash currently uses e.g., `moment(1458000000000).fromNow()` to display the time difference for last execution and next execution. When a job is within 45 seconds of executing, moment will display `in a few seconds` which is not very helpful and is not very configurable.

Replace `moment.fromNow` with something better.

[2016-02-25 19:06] joeframbach commented on #1
I tried attaching the jquery timeago plugin to each `$el` on render. I must've done something wrong because I had memory leaks everywhere. After a minute the tab was using 650MB.

[2016-03-15 18:28] joeframbach opened #4 "Time does not update"
Backbone will only rerender a view when the model has actually changed. The model contains: `{name: ..., lastRunAt: ..., etc}`. A job that hasn't updated in several minutes may still show "last run _a minute ago_" because the model hasn't updated and the time string hasn't rerendered.

Potential solutions:
1. Write a setInterval which rerenders the time strings, like the jquery timeago plugin does

[2016-03-15 18:35] joeframbach opened #5 "Jobs don't execute in order"
Steps to reproduce:

[code]

The UI now shows 9 jobs "queued" since they are ready to run but haven't started yet.

The jobs will execute in a seemingly nondeterministic order.

Need to experiment to see if this is something I'm doing wrong or something Agenda is doing

[2016-03-16 00:29] gsavoie opened #6 "Wire up UI for "limit" and "skip" values"
Hi,

Agendash works pretty well with my setup, only concern is the fact that there is no paging, and since we have like 20,000 jobs in the database the first load is very long...

Is it planned to add paging or some options to only get the first x jobs ?

[2016-03-16 00:35] joeframbach commented on #6
I did attempt this, and the issue came up that when you're looking at a certain page, like you're looking at page 3, the jobs on the page keep changing. Suppose you're looking at jobs 200 through 299 on a page. Well, sorting by date the jobs keep cycling and every time the data refreshes the jobs keep changing! Very annoying.

One solution is to add the ability to "pause" the refreshes. If you're

[2016-03-16 00:37] joeframbach commented on #6
Until then I will add a limit to get only the first x jobs like you suggested. That is a good suggestion. The ability to view historical data will then be a feature request in the future.

[2016-03-16 00:56] gsavoie commented on #6
Ahh yeah I understand, thanks for your quick answer. I guess navigating the pages could stop the refresh, at least that's the simpliest way to resolve it

For the first x jobs it could be in the UI with a default value that we set in the code, so every time we open the page it loads quickly but we are still allowed to see more/all if needed... Since most of the time we want to see the recent thing

[2016-03-16 14:56] Unibozu commented on #6
Just jumping on the thread - one way to solve this is to not think about pagination but about displaying results from a certain point (in time or in sequence). Using ObjectId makes is easy because they are incremental and comparable in time.
Instead of passing through a page parameter you can use a `from` parameter with the ID of the last job visible on the current page. The most annoying issue is

[2016-03-18 06:11] vziukas opened #8 "Dynamic page name (title)"
How difficult to show queue name (or custom passed name) on top of page ?
This is for case when Agendash used to show jobs from multiple collections.

[2016-03-18 06:22] joeframbach commented on #8
To better preserve compatibility for those already using agendash, I would say the usage would be like this for no extra options:

[code]

and like this for additional options:

[code]

---

The agendash lib would need to figure out if the argument is an Agenda or an object containing an Agenda. Then the `api` route would need to return the title so that the front-end can display it (`index.html`

[2016-03-18 06:24] joeframbach commented on #8
An easier approach would have the additional-options usage look like this:

[code]

I think I prefer this one.

[2016-03-18 15:56] flashbag opened #9 "Show some unique column for jobs"
It would be great to add possibility to show some unique column in list.
I have the situation where are many jobs with the same name.
Filter by name is really cool, but when I have > 10 items in list it does not solve the problem.

For example I have to find job for specific user with specific email
I can review all jobs one by one until I will find needed job, but's it really boring and not usefu

[2016-03-19 04:34] vziukas commented on #8
Agree with proposed solution to pass title as option object which can be extended in future.
Node part its easy for me but Backbone little challenge ;)

[2016-03-19 05:31] vziukas commented on #8
PR created https://github.com/joeframbach/agendash/pull/10

[2016-03-19 05:37] joeframbach commented on #8
What timing! I have one too... https://github.com/joeframbach/agendash/pull/11

[2016-03-19 05:56] #8 closed

[2016-03-19 06:25] joeframbach commented on #9
Here are two ideas, these are just fake mockups for illustration:

1. Provide a column which allows an attribute of the job's data to be shown like this:
![image](https://cloud.githubusercontent.com/assets/31736/13897041/8f9e561a-ed5f-11e5-970a-2fa387a3728a.png)

2. Provide a textbox which searches for the string anywhere in the job's data object like this:
![image](https://cloud.githubusercontent

[2016-03-22 18:14] flashbag commented on #9
You've finished my thought :+1:

[2016-03-24 20:41] joeframbach opened #13 "Taking a vacation for 5 months, need help"
I am leaving in 3 weeks to hike the Pacific Crest Trail for 5 months. It is a long trip and I will not have reliable internet access at all. So I am asking for anyone willing to help maintain the issues/PRs for Agendash. @vziukas @ebourmalo @rapidia you all have commits on this project. Could you help to look at issues and PRs? I will add collaborators and npm publish access.

[2016-03-25 04:34] vziukas commented on #13
Wow, impressive. Best luck on such challenge.
I can try to keep eye on this project. I'm planing to use it for our business, so definitely interested in its future.

[2016-03-25 11:23] ebourmalo commented on #13
Awesome news :) Congrats for making the choice, I did the Te Araroa in NZ 2 years ago and I heard lots of good about the PCT.

Anyway, would be glad to maintain this dashboard as well, lots of improvements to do and I also use it in business so it won't be put in trash. So I'll do my best to keep it up 2 date and look at the issues

[2016-03-25 17:56] joeframbach commented on #13
Both of you have been added as collaborators on github. I'll need npm usernames to add to the npm registry.

[2016-03-26 04:43] vziukas commented on #9
One option is to allow to enter partial mongoDB query inside textbox. Like "data.status":"send"
This can be injected into agenda.jobs function parameter which accepts native mongo query ( combined with name probably.
If implemented corectly would allow to use even more advanced syntax from text box line $gt, $ne etc.
Why invent wheel with own query syntax.
Kind of advanced feature and assuming use

[2016-03-26 05:51] joeframbach commented on #9
Every modification would need a new http request for the query. This can be run on the client so a network request is not needed every time the user types in the box. The client has lodash available, maybe we can use the `get` syntax from lodash? https://lodash.com/docs#get

[2016-03-26 18:25] vziukas commented on #9
Agree, but client calls api each 2 seconds to refresh data anyway. Filtering and doing pagination on server side is more efficient on big data sets. If its just 20-50 jobs client side is fine too.

[2016-03-29 15:07] elrombehar opened #14 "Agendash init issue"
Hi,

I'm trying to use Agendash according to documentation, but I get the following error while trying to use the middleware option:

[SyntaxError: C:\Develop\LimitlessDev\seScheduler\node_modules\agendash\lib\agendash.js:42
      .find({_id: {$in: jobIds.map((jobId) => new ObjectId(jobId))}})
                                                             ^^
Unexpected token =>]

I use loopback as f

[2016-03-29 15:53] joeframbach commented on #14
I need one more piece of information: please open your browser's network
inspector and copy the URL and queryparams of the failing request.
On Mar 29, 2016 8:07 AM, "elrombehar" <notifications@github.com> wrote:

[2016-03-30 13:50] vziukas commented on #14
This code is using ES6 arrow functions. Make sure you are using Node 4 or newer.
Run this in command line to check: `node -v`

More about arrow functions: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions

ES6 compatibility: https://kangax.github.io/compat-table/es6/

[2016-03-30 14:21] elrombehar commented on #14
Thank you vytas for your help. Updated to latest node and works like a charm.

[2016-03-30 14:21] #14 closed

[2016-03-30 20:54] simison commented on #6
This problem is also described here: https://www.discovermeteor.com/blog/pagination-problems-meteor/ with some suggestions, like publishing counts.

[2016-03-30 20:55] joeframbach commented on #6
Several people are running into this, and the solution may need more time to do "correctly". Until then I am suggesting this quick limit of 200: https://github.com/joeframbach/agendash/pull/15

Is this a good start?

[2016-04-04 02:23] framp opened #16 "Schedule Job Feature"
It would be great to have a Schedule Job feature.
It would be the GUI equivalent of a

[code]

I'm probably going to work on this if no-one else steps in before

[2016-04-04 02:47] joeframbach commented on #16
See this fork by @bh-chaker https://github.com/bh-chaker/agendash

See if that PR will do what you need.

Perhaps you or @bh-chaker could open a pull request based on that work.

[2016-04-04 08:34] bh-chaker commented on #16
Just created the pull request here: https://github.com/joeframbach/agendash/pull/17

[2016-04-04 18:54] joeframbach opened #18 "Validate user input for "Schedule Job" feature"
- Make sure user's json is valid json
- Make sure schedule and repeat are valid strings, e.g., "in 5 minutes", "every 24 hours"

[2016-04-04 18:55] joeframbach opened #19 ""Schedule Job" - Don't repeat job if user didn't want it repeated"
If the user skips the "repeat" field, don't call the line `.repeatEvery(jobRepeatEvery)` in `createJob` method.

[2016-04-04 18:57] joeframbach commented on #6
#15 has been merged with a default value of 200. This Issue title now reflects the remaining work to wire up the UI controls.

[2016-04-04 19:07] joeframbach commented on #16
`3.0.0` has been published to npm with this feature.

[2016-04-04 19:07] #16 closed

[2016-04-04 19:09] joeframbach commented on #13
I will close this issue on April 13th so it can have some visibility before I leave.

[2016-04-04 21:24] bh-chaker commented on #19
Actually if the jobRepeatEvery is empty the job won't repeat. No need to skip the call.

[2016-04-04 21:35] joeframbach commented on #19
With this input:

![image](https://cloud.githubusercontent.com/assets/31736/14263925/4a567112-fa72-11e5-85b8-938ad3539209.png)

I get this output:

![image](https://cloud.githubusercontent.com/assets/31736/14263937/5c9e3670-fa72-11e5-9e20-777cebcbb925.png)

I would like to remove the "repeat" circle-arrow label.

[2016-04-04 22:42] bh-chaker commented on #19
Yes, you are right. The job doesn't repeat but the UI shows the "repeat" circle-arrow label.

[2016-04-06 14:14] bhaveshvavdiya opened #20 "SyntaxError: Unexpected token >"
I am getting error : "SyntaxError: Unexpected token >".

Below is the full stack trace.

/home/wt/git/web/node_modules/agendash/lib/agendash.js:41
      .find({_id: {$in: jobIds.map((jobId) => new ObjectId(jobId))}})
                                            ^
SyntaxError: Unexpected token >
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at

[2016-04-06 15:31] vziukas commented on #20
This code is using ES6 arrow functions. Make sure you are using Node 4 or newer.
Run this in command line to check: node -v

More about arrow functions: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions

ES6 compatibility: https://kangax.github.io/compat-table/es6/

[2016-04-12 20:22] #20 closed

[2016-04-17 23:37] joeframbach commented on #13
Taking off now! Follow on Instagram if you like. @frambackpack

[2016-04-17 23:37] #13 closed

[2016-04-18 09:08] simison commented on #13
@joeframbach light steps and enjoy!

[2016-04-22 05:13] rapidia commented on #13
@joeframbach awesome!! have a nice trip!!

[2016-04-29 20:09] lgaticaq opened #22 "I push a docker image with agendash"
Hello check this https://hub.docker.com/r/lgatica/docker-agendash/

[2016-05-06 13:59] #22 closed

[2016-05-10 20:16] bonesoul opened #23 "buttons not working in mounted mode"
i have mounted agendash to my own application -- it can render stuff all good but i can't reschedule jobs using them as the buttons are not working.

[2016-05-29 16:05] simllll opened #24 "Sort exceeded memory"
Opening agendash doesn't work anymore, the api call returns the following error message:
"Sort exceeded memory limit of 104857600 bytes, but did not opt in to external sorting. Aborting operation. Pass allowDiskUse:true to opt in."

Do I need any additonal index on my agenda schemas or should I add allowDiskUse to this query?

regards
Simon

[2016-06-27 17:10] hugocar opened #26 "Jobs never fail"
In the job definition I write
[code]

The job get a field failReason but Agendash doesn't show the job as failed.

How do I ensure that jobs will be marked as failed when they get an error

[2016-06-28 02:42] rapidia commented on #26
In my opinion, this is not about `agendash`.
`if (error) { done(error) } else { done() }` will be work.
`job.fail` is just setting `failReason`, `failCount`, `failAt`. not emitting `fail` event.
`done()` is emitting `success` event, and `done(error)` is emitting `fail` event.

[2016-06-28 16:36] hugocar commented on #26
Thank you Rapidia

[2016-06-28 16:36] #26 closed

[2016-06-30 06:19] vziukas commented on #19
Should be fixed in 0.3.2

[2016-06-30 06:19] #19 closed

[2016-06-30 06:20] vziukas commented on #23
Check if 0.3.2 version helps with your issue

[2016-06-30 13:38] raistlinthewiz commented on #23
still no luck;

Failed to load resource: the server responded with a status of 403 (Forbidden)

[2016-07-26 01:23] ronenteva opened #27 "Buttons not working"
I've been using Agendash for a while and everything was working fine, but suddenly all buttons return `404 (Not Found)` error.
On the console, I only see `Error: Can't set headers after they are sent`.

I'm not sure what changed when the error started, I suspect it has something to do with updating the NPM packages.

[2016-07-26 14:43] swapnil002 opened #28 "Reque for a scheduled job is failing."
I have an agenda task scehduled at some defined time. However, when i try to reque from agendash, the POST call "api/jobs/requeue" returns 404. Any solution for this?

[2016-07-26 14:45] swapnil002 commented on #28
Even Delete fails with ---

node_modules/agenda/node_modules/mongodb/lib/utils.js:97
    process.nextTick(function() { throw err; });
                                  ^

Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:344:11)

[2016-07-28 07:17] sheldonnbbaker commented on #28
I'm experiencing the same issue - many ajax calls seem to be 404'ing.

[2016-07-28 23:58] sheldonnbbaker commented on #28
Seems to be an issue in mongodb/node-mongodb-native above 2.1 (related to balderdashy/sails-mongo/issues/415). I did `npm install mongodb@2.1.21 --save --save-exact` and it works as expected.

[2016-07-31 06:09] ronenteva commented on #27
Seems like it's related to the mongodb version, solved by using mongodb@2.1.21.
Submitted a pull request as a temporary fix.

[2016-07-31 06:09] #27 closed

[2016-08-03 14:04] Rameshv commented on #28
@sheldonnbbaker its still not working..

[2016-08-09 18:01] niftylettuce opened #30 "koa v2 support"

[2016-09-01 03:52] joeframbach commented on #30
Consider using Agnostic: https://www.npmjs.com/package/agnostic

I have some time tomorrow to look into this.

[2016-09-01 09:18] simison commented on #23
Same issue here, none of the buttons work when we run:

[code]

- Agendash 0.3.2
- Agenda 0.9.0
- MongoDB 3.2.3
- NodeJS 6.3.1

It shows jobs correctly, though.

To test, just clone our repo:
[code]
Open [http://localhost:1081]()

When clicking "Requeue selected", I get:
[code]

And at terminal:
[code]

[2016-09-02 08:12] loris commented on #24
Indeed, you need to add an index on the fields `agendash` is sorting on:
[code]

Also, be aware, I just looked through the code, and `agendash` currently looks pretty badly optimized if you have a large number of jobs with lots of data in them, because it fetchs everything in on mongodb query instead of lazy-loading job detail when you click on it.

[2016-09-12 07:22] chaimsiegel opened #31 "see job that isn't scheduled"
Is there a way to see a job that has been defined or created in agenda but has not yet been scheduled to run?

Thanks

[2016-09-14 14:12] hoyce commented on #28
I updated my mongodb package from 2.2.5 to 2.2.9 and then it works. (2.1.21 works for me as well but did not want to downgrade if did not have to)
[code]

[2016-09-30 18:48] jeltok opened #33 "exception: FieldPath field names may not start with '$'."
When I try to clone and run the package against MongoDB 3.2.8 I get the following error message in getJobs()

exception: FieldPath field names may not start with '$'.

[2016-10-08 12:44] TreHack commented on #33
+1
exception: FieldPath field names may not start with '$'.

[2016-10-09 01:38] TreHack commented on #33
@jeltok  upgrade mongodb to the latest version, the exception missed and agendash worked well

[2016-10-12 02:05] joeframbach commented on #31
Sorry, there is not. Agenda itself is decentralized. It is possible to run Agenda on one machine which processes one type of job, and run Agenda on another machine which processes another type of job. You could create any number of Agenda processors on any number of machines. Each processor is instructed to "listen" to an incoming job on mongo. But mongo is not told a "master list" of possible job

[2016-10-12 02:05] #31 closed

[2016-10-12 06:31] joeframbach commented on #24
@loris I've filed PR #36 , does that look correct for the indexes? I will take a look at lazy-fetching the job details later.

[2016-10-13 11:44] evereq commented on #30
+1 to support Koa v2, any news with this?

Thanks!

[2016-10-14 03:26] joeframbach commented on #30
Sorry, no news to report just yet. I'll add the "hacktoberfest" label, maybe that will gain more traction!

[2016-10-14 04:54] joeframbach commented on #28
Following the sails-mongo approach, I was able to find a `pkFactory` method which `agenda` helpfully provides. It maps to the `ObjectId` constructor in `agenda`'s `mongodb`. See PR #38.

Is this an acceptable solution?

[2016-10-14 16:19] jeltok commented on #33
That's true, works great with MongoDB 3.2.10.

Thank you!

[2016-10-14 16:19] #33 closed

[2016-10-27 02:10] ronenteva opened #41 "Please update the NPM package"
The mongo version error is fixed in the latest commits, please update the npm package so everyone could access it easily.

[2016-10-27 12:25] LeandroFavero commented on #28
PR #38 works perfectly!!!! Very nice!

[2016-10-27 22:24] #24 closed

[2016-10-27 22:24] #28 closed

[2016-10-27 22:28] joeframbach commented on #41
agendash 0.4.0 is now available on npm.

[2016-10-27 22:28] #41 closed

[2016-10-28 12:21] bonesoul commented on #23
0.4.0 here

Failed to load resource: the server responded with a status of 403 (Forbidden) /api/jobs/requeue

The thing is that i use agendash as mounted. could be related?

[2016-10-28 15:22] joeframbach commented on #23
What version of express are you mounting onto?

On Oct 28, 2016 5:21 AM, "Hüseyin Uslu" <notifications@github.com> wrote:

[2016-10-28 21:22] bonesoul commented on #23
latest express 4

"express": "^4.14.0",

[2016-10-28 21:29] joeframbach commented on #23
Does your express app respond to other endpoints? If your express app already has routes like `/about`, `/profile`, etc, then attaching Agendash to the root `/` path might coincide with those other paths.

Where you mount Agendash onto Express like this: `app.use('/', Agendash(agenda))`, instead use a path prefix that is not used elsewhere, like this: `app.use('/dash', Agendash(agenda))`.

I have

[2016-10-29 12:55] bonesoul commented on #23
It's already mounted so for me on a unique path.

[2016-10-29 14:29] joeframbach commented on #23
The error message says /api/jobs/requeue is forbidden, but you have it
mounted on a unique path, so the expected request should go to
/yourPath/api/jobs/requeue. There may be a broken path.join somewhere, or
your path prefix not being set. I can't reproduce this issue but I will
take a look and see what I can find.

On Oct 29, 2016 5:55 AM, "Hüseyin Uslu" <notifications@github.com> wrote:

[2016-12-06 17:27] micabe commented on #22
Hello, I am using your docker image.
Then I have a question. Where can i define my jobs ?

Thanks for your work

[2016-12-07 12:01] keyvan-m-sadeghi commented on #30
@joeframbach I just submitted a PR, haven't tested it yet, would be much easier to test when you merge and `npm publish`

[2016-12-08 08:08] keyvan-m-sadeghi commented on #30
OK, this is as far as I got, APIs are functional and UI will load, but something's not working.
@joeframbach could you take a look? I thinks if you decouple `test.js` from express and `require` app from two separate files (one for express, one for koa), the problem would reveal itself.
I added a `README` to `lib/middlewares`.

[2016-12-09 01:01] joeframbach commented on #30
Thank you for the PR! I have a long flight on Saturday and I'll be able to look then. 🎉

[2016-12-10 00:31] joeframbach commented on #22
Hello @micabe, Agendash displays the jobs, it does not define the jobs. Agenda is a different project where you define your jobs. Agendash connects to Agenda and only displays the jobs. In the docker image, the mongo sb is created where Agenda writes the jobs, and Agendash reads the jobs.

[2016-12-10 12:47] micabe commented on #22
Ok Joe,  thanks for your clarification.
All the best.
Mickael

Le 10 déc. 2016 01:31, "Joe Frambach" <notifications@github.com> a écrit :

[2017-01-06 03:33] yangchristian commented on #23
Are you by chance using any CSRF middleware, like [`csurf`](https://github.com/expressjs/csurf)? We just ran into this issue on our app, and it seems like Express will require a CSRF token for the mounted agendash paths, but agendash itself won't know to use the middleware. We ended up disabling CSRF protection for the agendash endpoints, but you could also probably reuse the middleware for agenda

[2017-01-06 08:43] bonesoul commented on #23
@yangchristian yes i was actually using csurf - how to disable it for agendash?

[2017-01-06 14:48] yangchristian commented on #23
Not sure how you're using `csurf`, but we're using a middleware wrapper that applies protection based on the route. It's something like this (rewritten from our TypeScript so may not compile directly):
[code]

[2017-03-19 17:01] theonetheycallneo opened #47 "hapi middleware support"
Would love to see hapi middleware

[2017-04-11 06:14] MingqingLi opened #48 "Configure Web"
What is Schedule ，Repeat every and  job data (json)？
How to configure? What is the format?

[2017-04-11 15:39] joeframbach commented on #48
See the Agenda documentation at https://github.com/rschmukler/agenda#creating-jobs

[2017-04-11 15:39] #48 closed

[2017-05-14 07:14] OmgImAlexis opened #49 "Jobs not showing up as failed"
Even though there's a `failReason` and the job is set to disabled it doesn't show up as such in Agendash.
[code]
![screen shot 2017-05-14 at 4 42 18 pm](https://cloud.githubusercontent.com/assets/6525926/26031930/9bc936a6-38c4-11e7-86a2-4751a869805b.png)

[2017-05-15 02:34] joeframbach commented on #49
"Recurring" jobs can simultaneously be "running", "queued", and "failed", all at once. Because Agenda re-uses the same Job object on every iteration, recurring job state is volatile and can't always be trusted (and I couldn't think of a good way to handle that). On one hand, it would be nice to have a history of outcomes for every iteration of a recurring job, but on the other hand that would requ

[2017-05-15 02:39] OmgImAlexis commented on #49
The main reason I'd expect that to show as failed is the fact that it's disabled. My jobs run and if there's a failure they disable themselves as they won't work again unless there's a manual action taken place by the user.

For example my "stats" job I run for each user and the only reason they'd fail is if the user has revoked access to their account via oauth since stats relies on a third party

[2017-05-15 02:54] joeframbach commented on #49
It's been a long time since I've looked at this code, but I think removing `{$eq: ['$lastFinishedAt', '$failedAt']}` from [`lib/agendash.js line 257`](https://github.com/joeframbach/agendash/blob/master/lib/agendash.js#L257) should make this work. I hope it's that simple...

[2017-05-15 04:12] OmgImAlexis commented on #49
If you're okay with me fixing this I'll try that out as well as another idea I have and open a PR.

[2017-06-13 09:36] michelem09 opened #50 "Use it as logged in user"
I'm trying it with:

        app.use('/jobs', function(req, res, next) {
		if (req.user) return agendash(agenda);
		next();
        });

But it returns a 404, any ideas?

[2017-06-13 17:33] joeframbach commented on #50
The usual Express authorization pattern is to pass a series of middlewares before the last callback:

    app.use('/jobs', authorizeAgendash, agendash(agenda));

    function (req, res, next) {
        if (!req.user) return res.sendStatus(403);
        next();
    }

PassportJs for example makes use of this pattern, as you can see in their docs.

[2017-06-13 17:33] #50 closed

[2017-06-14 00:11] dylanjha opened #51 "failed vs. completed"
I'm seeing this behavior where a job will sometimes show up as "failed" and othertimes show up as "completed" (even though it has both `failedAt` and `failedReason` values)

I realized what caused this difference:

[code]

[code]

In the above 2 examples both jobs appear to have the same attributes:

<img width="697" alt="image 2017-06-13 at 5 07 40 pm" src="https://user-images.githubusercontent.c

[2017-06-14 00:46] joeframbach commented on #51
This was easily the most difficult part of creating this project. The rules were made mostly by trial and error and guesswork.

In this case, it is definitely a timing issue with Agenda.

The `lastRunAt` is set to `new Date()` here: https://github.com/rschmukler/agenda/blob/master/lib/job.js#L180

and `failedAt` is set to `new Date()` here: https://github.com/rschmukler/agenda/blob/master/lib/job.

[2017-06-14 02:06] dylanjha commented on #51
Thank you, mystery solved! Wow, looking at it more closely, in my example the times are not `===`. The times are off by 1 millisecond.

<img width="869" alt="image 2017-06-13 at 7 01 43 pm" src="https://user-images.githubusercontent.com/764988/27112302-1d2ee2b4-506b-11e7-9a00-366a2d00103b.png">

While we're at it, do you happen to know why both of these jobs are not getting re-tried? They both hav

[2017-06-14 05:04] michelem09 commented on #50
Thank you! I completely forgot about that.

[2017-06-14 09:32] simison commented on #51
@dylanjha I remember seeing some issues or pull requests regarding this at Agenda repo: https://github.com/rschmukler/agenda/issues (which is sadly [not very well maintained at the moment](https://github.com/rschmukler/agenda/issues/414))

[2017-06-14 09:33] simison commented on #51
@dylanjha there's a PR exactly for this: https://github.com/rschmukler/agenda/pull/433

[2017-06-14 15:53] dylanjha commented on #51
thank you so much @simison

[2017-06-14 16:03] dylanjha commented on #51
A simple fix for this until rschmukler/agenda#433 gets merged is:

[code]

[2017-06-14 16:03] #51 closed

[2017-06-14 16:54] joeframbach commented on #49
Another issue came up, and I think this is a duplicate of that one. https://github.com/joeframbach/agendash/issues/51

There is a timing issue where `lastFinishedAt` is set to `new Date()`, then zero-or-more seconds later, `failedAt` is set to `new Date()`. They ought to be the same value... so there's a PR at Agenda for now. https://github.com/rschmukler/agenda/pull/433

[2017-06-15 23:44] joeframbach opened #52 "Write documentation on administrative tasks"
* How to contribute
* How to test
* How to push
* How to allow contributors to publish to npm
* How to publish to npm

[2017-06-16 07:31] simison commented on #52
You can copy parts from our [CONTRIBUTING.md](https://github.com/meanjs/mean/blob/master/CONTRIBUTING.md) at meanjs if some parts of if sound relevant for agendash.

[2017-06-26 15:26] hughmp opened #53 "serve UI from a nested path and prevent redirect"
Hey,

Great work on agendash it's looking nice.

I'm serving mine up from a nested path e.g. '/a/long/route/agendash'. However, it's automatically then redirecting back to '/agendash' which obviously can't be found.

My middleware init looks like this:
[code]

Any quick ideas how I could fix this? I haven't dug through the code yet but may well raise a PR if I find a quick solution.

Thanks again!

[2017-07-03 15:10] LucianoGanga commented on #30
Hi! Any news about this? :)
Thanks!

[2017-07-03 15:59] joeframbach commented on #30
I am not able to work on this now, sorry.

[2017-07-16 12:54] OmgImAlexis commented on #53
Not sure what the issue here is since you're mounting it at `/agendash` if you want it to be mounted at `/a/long/route/agendash` then you need to use something like this.

[code]

[2017-07-19 14:48] OmgImAlexis commented on #49
Closed in https://github.com/agenda/agenda/pull/433

[2017-07-19 14:48] #49 closed

[2017-07-19 22:51] hughmp commented on #53
Sorry, I wasn't very clear here. What I mean is I have a reverse proxy in front of agendash which creates `/a/long/route`. This causes issues as the UI doesn't respect the current route location and simply redirects to `/agendash`.

[2017-07-20 08:57] OmgImAlexis commented on #53
@jframbach-nerdwallet does agendash in middleware mode check for reverse proxy headers?

[2017-07-20 09:14] simison commented on #53
@hughmp If you don't need session control or stuff like that from your Express, you could run Agendash just as standalone in some port and proxy to that. Are you using Nginx or something else?

So agenda would be running e.g. at `localhost:1080` (or any other port) and in Nginx config you would proxy to somewhat in this way:

[code]

Otherwise, why not just attach directly to `/a/long/route/agenda

[2017-07-30 17:07] moar55 opened #55 "Is it possible to restart a job incase server crashes while it is executing?"

[2017-07-30 17:14] #55 closed

[2017-08-09 04:55] OmgImAlexis commented on #5
Actually this needs to stay open since this won't land until `v1.0.0`.

[2017-08-24 04:24] cggaurav opened #57 "Have different routes for tasks optionally"
1. This helps look at a lean view of just one task if you have many.
2. This could be the base for adding new views for tasks.
3. Lastly, I'd like to set up alerts per task.

[2017-08-27 19:24] vak opened #58 "No UI elements to create a new job"
I use agandash as middleware and no UI-elements seen to create a new job.

in package.json stated:
"agenda": ">=0.7.0 <1.0.0",
could this be an issue? my app uses agenda-1.0.0

[2017-08-27 19:40] vak commented on #58
i started agendash in stand-alone mode, and the right side of the screen I see a webform to create a job. Nothing happens though if i sapply some values and press "save" -- maybe format is wrong, i don't know yet. The role of "Cancel" button is also unclear.

[2017-08-27 22:18] cggaurav opened #59 "Clean up old worker data"
So we have had workers run a while ago and we would like to clear up data on our MongoDB storage with worker data that is say over a month.

[2017-08-28 04:16] OmgImAlexis commented on #59
I'm not exactly sure what the question/issue is? This also sounds like maybe it's an issue with [Agenda](https://github.com/agenda/agenda/) itself and not the dashboard.

If that's the case please open an issue [here](https://github.com/agenda/agenda/issues/new) and close the one.

[2017-09-08 05:50] koresar opened #60 "Delete and Requeue buttons do not work anymore"
Agendash thows `Cannot read property 'pkFactory' of undefined` in [this line](https://github.com/agenda/agendash/blob/8b27d72f1a983274218e49cb9370004697a737d0/lib/agendash.js#L82):
[code]

Look like with latest agenda it should be `agenda._collection.collection.s.pkFactory` instead.

[2017-10-12 13:38] v1adko commented on #60
Experiencing the same problem.
#61 Can be merged, as far as I can tell.

[2017-10-19 00:43] VincentNewkirk opened #63 "What is "queued" status?"
I'm wondering what this "queued" status means.

Our app often gets put into this state:
![screen shot 2017-10-19 at 9 39 47 am](https://user-images.githubusercontent.com/18303749/31748921-817e8670-b4b1-11e7-9b27-c97618d7d44e.png)

As you can see, some jobs end up going into "queued" status and the "Next Run At" attribute gets set to some time in the past. Which will make the job never run again. I

[2017-10-19 00:52] joeframbach commented on #63
This can happen if you have fewer workers than tasks. If you have, for
example, ten tasks which each require one minute to execute, but you only
have one "worker", then the worker will execute one task and the other will
be queued. They are ready to run but there are no available workers to run
them. By restarting your workers, you've made those workers free to pick up
new tasks.

On Oct 18, 2017

[2017-10-19 00:57] VincentNewkirk commented on #63
@joeframbach Thanks for your quick reply.
I think I understand your explanation. So how would we get around this problem? By enabling more workers? Or maybe instructing the workers to start queued tasks after finishing the one they are currently running?

[2017-10-19 01:02] joeframbach commented on #63
Ensure that the worker calls the "done" callback. It will pick up the next
queued task.

On Oct 18, 2017 5:57 PM, "Vincent Newkirk" <notifications@github.com> wrote:

[2017-10-19 01:11] VincentNewkirk commented on #63
@joeframbach Thank you for your quick replies!
This thread may be closed.

[2017-10-19 01:52] #63 closed

[2017-11-02 14:10] v1adko commented on #63
@joeframbach Is there a way to move already "queued" jobs to "scheduled"? For the next run.
Can I update the documents in db somehow or do I have to delete these jobs and recreate them.

[2017-11-07 01:44] ilianaza commented on #30
+1

[2017-11-20 10:26] linliny opened #66 "Why the use of the year is invalid"
When i use repeat every like "* * * * * * 2017", why next run starts will display "in 4 days"

[2017-11-21 01:19] OmgImAlexis commented on #66
@simison could you confirm this is an issue? Seems like a bug with our cron parser.

[2017-12-14 11:10] alexbeletsky opened #67 "Rescheduled job runs infinitelly"
There is a job scheduled, the database record looks like this,

[code]

From UI, I reschedule the job and new instance appear,

[code]

It's a quite long running job, but what I see, once it's completed it immediately started again. What could be an explanation for that?

Also, I'm thinking what's the rationality behind "Reschedule" feature. What I typically want is to "Restart" the job manually f

[2018-01-15 20:45] lautarobock opened #68 "I cant configure as a middleware"
I've follow the steps as the doc and I get

[code]

# Env
mongoose 4.5.7
mongdb (package version) 2.2.29
mongodb (db version db.version()) 3.4.7
agenda 0.9.1
agendash 0.4.0

[2018-01-25 21:44] #60 closed

[2018-01-25 22:04] simison commented on #66
I believe Agendash still uses a bit old version of Agenda so this might be because of that.

That said, seems like there's a bunch of cron related issues open in Agenda. I feel that we first need a really good coverage for cron before we start poking it and possibly breaking something else while fixing...

[2018-02-01 10:43] OmgImAlexis opened #72 "Move the API into it's own package"
[agenda-rest](https://github.com/agenda/agenda-rest) has just joined the Agenda org so we'll be looking into cleaning up the code to use ava and xo just like the other packages we maintain.

After this we should document which methods we currently serve up as an api so we can migrate them to Koa and integrate it all directly into agenda-rest.

PING: @agenda/maintainers
Ref: https://github.com/agen

[2018-02-01 10:46] simison commented on #72
FYI @joeframbach — any thoughts or advice? :-)

[2018-02-01 10:49] keyvan-m-sadeghi commented on #72
@simison
I just transferred to @OmgImAlexis, can no longer even comment there until it's moved.

[2018-02-01 10:50] OmgImAlexis commented on #72
It's moved. https://github.com/agenda/agenda-rest

[2018-02-04 12:02] OmgImAlexis commented on #6
If any of you have a chance the new vue branch should have pagination built in.

[2018-02-25 05:16] wiredash opened #74 "Enhancement: Job Meta Info with Iconography"
Firstly - Thanks.. this was handy.
I would really like

- a better UI grid - this seems a relatively trivial UI task.. Many frameworks to choose from.

- New field Job Types represented by Icons (e.g. email, DB, Log Files, General, Affecting Users etc..)

- Form needs validation and some info text around (also docs are missing)

- Job Chaining (or grouping with sequencing within the group and exce

[2018-02-28 06:03] OmgImAlexis commented on #74
You're more than welcome to open a PR to add these changes. 👍

[2018-03-07 11:05] cusspvz commented on #22
It would be awesome if you guys support it right away from this repo to increase the trust on it, and expose it on docker hub like `agenda/agendash`.

[2018-03-07 15:31] lgaticaq commented on #22
I can transfer the docker image to the agenda user in hub.docker.com

[2018-03-08 02:33] OmgImAlexis opened #75 "Autobuild docker image"
We should add this to the README.

Ref: https://hub.docker.com/r/agenda/agendash/
Ref: https://github.com/agenda/agendash/issues/22

[2018-05-07 16:01] mahnunchik commented on #30
Any news?

[2018-06-01 06:18] zagran opened #78 "The dot in the key name in Job data (JSON)"
I tries create job with next data
`{
  "name": "stage facebook happy path",
  "webhook": "https://bot.ai",
  "channel": "facebook",
  "steps": [{
    "text": "start over",
    "maxResponseTime": 20000,
    "response": {
      "currentState.name": "CONFIRM_COMMAND"
    }
  }]
}`

and got 404 response from API with the message "Jobs not created"

But if I change key "currentState.name" to "currentSt

[2018-06-11 13:36] LennyPenny opened #80 "Better defaults when scheduling a job"
I just tried to schedule a job and got pretty confused that it didn't just run it once when I didn't enter any scheduling and repeating details.

[2018-06-11 22:40] OmgImAlexis commented on #80
We should fix this in the new UI.

[2018-06-12 19:54] umens commented on #47
Just made a PR ( #81 ) that will bring you some joy @theonetheycallneo 😄
better late than never 🎉

[2018-06-28 13:38] yavuzmester opened #83 "user input for both "Schedule" and "Repeat every""
I want to schedule a job to an exact time each day.
I am filling in both the "schedule" and "repeat every" inputs. E.g.

Expected result:
Run the job at schedule time
Then repeat the job every day at that scheduled time.

Observed behavior:
The job starts running immediately
The job will be repeated every day at that time, disregarding scheduled time input.

Overall it seems when I fill in "repeat

[2018-06-28 19:36] ecmadao opened #85 "Koa2 support"
Hi everyone, I found Agendash is easy to use, but missing the support for koa. And I notice that there exists a PR about supporting koa, but it seems too old to merge. So I create a new PR #84 , using koa2(^2.4.1), add some test and examples.

Here is what I did:

1. Support koa2.
2. Using async/await grammar for this feature. Cause after koa 2.4 version, we have to support async/await in native.

[2018-07-06 00:31] lablancas commented on #83
I was having the same issue. The input for `schedule was being used as the `repeatAt` which some people may want, but that's not what I wanted so I forked this repo to [lineups-io/agendash](https://github.com/lineups-io/agendash)

[2018-08-11 08:22] Monokai opened #86 "requeue doesn't work with new async / await"
Now that Agenda has been updated to use async / await, I think it's time to also update Agendash. I'm getting the error "This function does not accept a callback function. 1/0" when trying to requeue a job in the Agendash UI.

[2018-08-17 06:09] koresar opened #87 "When is the next release?"
Hello good people!

How's your open source life going? :)

Any plans on publishing v1.0.0?
The history looks good so far: https://github.com/agenda/agendash/blob/master/History.md

PING: @agenda/maintainers

[2018-08-29 16:31] alexbeletsky commented on #67
The issue is still actual.

[2018-09-02 13:55] jskrzypek commented on #86
Shouldn't this be a relatively easy fix?
There's possibly a concern with backwards compatibility for projects sticking with agenda v1.0.3, but checking the version and selecting which api to use shouldn't require a lot of coding. I'll be happy to submit a PR.

[2018-09-02 14:29] jskrzypek commented on #86
So I'm not *that guy* who just says "oh that's trivial" and walks away, I see two possibilities that could be straightforward for doing the version checking:

The first option that's not as easy would be to make a PR to `agenda` itself to add a version number to the exported package, then get them to release that. (this might be better in the long run but it has other complications).

The other wa

[2018-09-03 11:50] jskrzypek commented on #86
Oh, now I see #72 ... so is the idea to move to consuming agenda-rest instead of the code in `/lib/agendash.js` & `/lib/middleware`?

[2018-09-21 10:39] sarneeh commented on #86
Having the same issue. Unfortunately I don't have time right now to take a look at this 😢

[2018-10-04 16:53] jeanpaulcozzatti opened #91 "Connect to remote Atlas Cluster?"
I have an agenda app that is currently using an atlas mongodb instance, and is running jobs successfully.

When I try to start agendash, connecting to the same  atlas instance, with the following connection command

`./node_modules/.bin/agendash --db=mongodb:username:pw@<instance1>rpnad.mongodb.net:27017,<instance2>rpnad.mongodb.net:27017,<instance3>rpnad.mongodb.net:27017/agenda?replicaSet=JP-App

[2018-10-04 17:46] jeanpaulcozzatti commented on #91
successfully connect when using agendash as middleware. closing.

[2018-10-04 17:46] #91 closed

[2018-12-14 19:31] fmendoza commented on #63
I have the same issue. Thoughts?

[2018-12-17 02:39] VincentNewkirk commented on #63
@v1adko
I Think @joeframbach answered your question as well. As long as your worker is calling the ```done``` callback it will be freed up and start processing the next ```queued``` job.

My issue was that I wasn't calling this ```done``` callback every time. (Make sure it's called even in your error handling)

[2019-01-09 10:56] amiiy opened #94 "Application crash when requeue in dashboard"
When I press the `Requeue selected` application crash with below error logs:
[code]

[2019-01-12 09:42] iam-medvedev commented on #94
I also have this problem

[2019-01-22 01:54] alexkwolfe commented on #94
Is this resolved by https://github.com/agenda/agendash/pull/93?

[2019-01-27 18:16] j1348 commented on #94
Also the same [here](https://github.com/agenda/agenda/issues/730#issuecomment-457939128)

[2019-01-27 18:19] j1348 commented on #94
@lkho any update on your PR ?

[2019-01-28 01:56] alexkwolfe commented on #94
I made a PR also https://github.com/agenda/agendash/pull/95

[2019-01-28 02:10] lkho commented on #94
@j1348 See which PR is more suitable. I can split #93 if appropriate.

[2019-01-28 04:07] lkho commented on #94
I think we should merge #95 instead. Please close #93 and #96 afterwards.

BTW, the original #93 contains another commit to fix the fetchData interval. Do you guys think that's worth another PR?

[2019-02-09 01:24] jackarcher73 opened #97 "Cannot schedule job when used inside express"
Hello,
When using agenda-dash inside express, the UI showed up, but cannot schedule job. After click "Save" nothing happen.
If running agenda-dash standalone, everything works fine

[2019-02-11 11:54] mrumaiz opened #98 "No Option to Authenticate Users"
There is no way to authenticate users to view dashboard

[2019-02-19 15:14] santiq commented on #98
Hello @mrumaiz how are you?

I see your point, the documentation does not specify how, but is quite easy, you can use a package like
`express-basic-auth`

[code]

[2019-02-19 15:38] santiq commented on #97
Hello @jackarcher73

Can you provide more information?

Maybe it's related to #94 or #86 currently agendash relays on agenda v1. So if your jobs don't use callbacks the dashboard will not work.

[2019-02-26 04:20] joeframbach commented on #87
Non-breaking changes are published as 0.5.0.

Breaking changes (node support removal, agenda v2 upgrade) are published as 1.0.0.

[2019-02-26 04:20] #87 closed

[2019-03-03 10:42] amiiy commented on #94
in the new version, this issue has been resolved and I think this issue should close.

[2019-03-11 00:33] dandv opened #100 "Mongo deprecation warning"
Seen when starting agendash:

Might be caused by https://github.com/agenda/agenda/issues/738

[2019-03-12 06:59] #94 closed

[2019-03-18 12:04] nirmalkumarv commented on #97
Hi @santiq ,

I am also getting error. It was working well with 0.4 version.

Please see attached.
![Screen Shot 2019-03-18 at 5 33 06 PM](https://user-images.githubusercontent.com/897323/54528828-165a6d80-49a4-11e9-9e49-8e44d01b4556.png)

[2019-04-02 23:30] dandv commented on #63
I've also seen this situation with jobs having `Next run starts` in the past. There were two causes:

1. The job processor for one job wasn't calling `done()` in one case due to returning early from the function. A better pattern is `return done();`.
2. One job takes many hours to execute (due to a 3rd party API rate limit). How long exactly it takes, is also unknown, so it calls `touch()` periodi

[2019-05-21 09:59] ChrisLahaye commented on #85
@OmgImAlexis are there any plans to pick this up?

[2019-05-27 15:16] basiclaser opened #101 "Job numbers don't accumulate"
My Agendash is listening to my agenda database, and while it does show the jobs in the completed, running, failed etc. categories, it never shows more than one.

That means for the two jobs i have scheduled i only ever see two jobs total in the UI. Not the list of previously completed / failed etc. jobs. and the counter values in the filter column are maximum 1. Is that to be expected? I would exp

[2019-06-10 12:46] leonprou opened #104 "Display job id in the job view"
Subj. It's already used heavily but not displayed anywhere.

If approved, I think I can work on a PR for that :grin:

[2019-06-26 05:58] FreeDevStan opened #105 "More info about failed jobs"
Hi, it would be great if you add a number of how many times job failed and when the last fail was like it is now with the last run. Also need more accurate times of job times, because most of my jobs runs every 20 seconds and agendash always writes in a few seconds, a few seconds ago, even when job finished 40 seconds ago.

[2019-06-26 16:20] karimkhamwani opened #106 "middleware function still execute if i call return next from it."
[code]
Code still prints hey hey hey hey......

[2019-07-08 08:49] karimkhamwani opened #107 "how to disable 2 seconds Auto refresh?"

[2019-08-14 21:28] alanhr commented on #68
Hey guys, any update about this ?

[2019-09-02 19:01] ErickWendel opened #109 "Suggestion: Add the job history when clicking on the item"
An useful feature is about clicking on the job and seeing the job history. It shows only the previous execution

[2019-10-25 09:37] gagan-bansal commented on #107
I am also looking for this option.

[2019-11-07 11:22] domingosl opened #113 "Failed jobs are displayed as Completed in the UI"
Defining a job as follows:

[code]

And then executing it, in the database the data is correct:

But the job is displayed as *completed* and not as *failed* in the dashboard. With no error details, just completed. https://pasteboard.co/IFzHX4z.png

[2019-11-07 20:25] lcharbon opened #114 "Hapi Vulnerability"
NPM warned of a high severity vulnerability in hapi after installing agendash. See  https://npmjs.com/advisories/1168.

[2019-11-07 20:26] lcharbon commented on #114
n/m just noticed #112.

[2019-11-07 20:26] #114 closed

[2019-11-20 15:54] darrenbrett opened #115 "Not Able to Connect to Server with Auth Details Included"

[2019-11-20 19:33] #115 closed

[2019-11-22 10:20] akshay9502 opened #116 "Denial of Service"
npm audit:

<img width="560" alt="Screenshot 2019-11-22 at 3 49 54 PM" src="https://user-images.githubusercontent.com/50326209/69418008-cf492700-0d3f-11ea-9b86-ff4b3a0c1534.png">

[2019-12-18 08:35] mjgs opened #117 "Hapi dependency has moved, is causing lots of deprecation warnings on install"
I am seeing a lot of deprecation warnings on install related to hapi library being moved to [@hapi/joi](https://hapi.dev/family/joi/?v=16.1.8)

As far as I can tell this is because of the hapi bundled in agendash:

[code]

[2020-01-14 20:37] Ademo13 opened #118 "Simple Way to Disable Immediate Execution on "Repeat Every""
I'm not sure why all repeating agendas are set, by default, to also execute immediately, but in our use case this is not desired. I've been trying to locate the code where I could basically pass in `{ skipImmediate: true }` to prevent this behavior. Where in the codebase should I pass this argument via "options", so as to reverse this default behavior? Thanks!

[2020-02-19 11:04] iocast commented on #85
any news?

[2020-03-04 00:02] BlueWater86 opened #120 "Start and stop agenda"
There is currently no way to start and stop the agenda instance.

[2020-03-04 02:01] BlueWater86 commented on #120
This PR adds status text and a start/stop link: https://github.com/agenda/agendash/pull/121

[2020-03-07 21:14] hosnas opened #122 "Why there is so many queued jobs?"
![image](https://user-images.githubusercontent.com/26921196/76152545-e97ff880-60d5-11ea-968d-46dcc65b4f17.png)

I dont Underestand why I have 100k queued jobs? What should I do?

[2020-03-16 21:01] BlueWater86 commented on #122
Maybe you should stop scheduling new jobs?

[2020-03-16 21:04] BlueWater86 commented on #118
You should probably provide a code sample on [StackOverflow ](https://stackoverflow.com/questions/tagged/agenda) rather than slowing the developer down with a question about how to use the API.

[2020-03-31 17:06] hariom282538 commented on #68
@lautarobock @alanhr @simison @alexkwolfe @loris

I'm also getting the same error
`error: TypeError: agenda._mdb.admin is not a function
    at Agenda.<anonymous> (/node_modules/agendash/lib/agendash.js:18:17)`

Fixed it by commenting : /node_modules/agendash/lib/agendash.js
`// agenda._mdb.admin().serverInfo((err, serverInfo) => {
    //   if (err) {
    //     throw err;
    //   }
    //   if (

[2020-04-13 16:19] thibaultchazal commented on #68
Thanks for the fix @hariom282538 !
It's working like a charm in development where I can comment Node Modules but how do you do in production ? I'm using Heroku and I don't know any way to do this trick there.

[2020-04-19 10:04] thibaultchazal commented on #68
I see that your pulled request failed @hariom282538, how can I help solve the issue ?

[2020-04-21 17:49] hariom282538 commented on #68
@thibaultchazal Code merge check passed without any conflict, build job failed because of some other issues. Only agendas people can help us. Meanwhile clone this codebase makes changes as suggested by me earlier and push that to your private NPM repo. And use that while [npm install].
I used this - https://verdaccio.org/

[2020-05-05 10:47] RomainVernoux commented on #68
If you're encountering this because you reuse your Mongoose connection, this worked for me:
[code]
The important part is that admin is not available in `_mdb` but in  `_mdb.db`.

[2020-05-19 06:04] maxnaude commented on #118
@Ademo13 check out https://github.com/agenda/agendash/blob/3c10e89efefaf09cc599fc4eaba8dde99bfc0a5c/lib/agendash.js#L268

[2020-06-10 08:12] #78 closed

[2020-07-12 16:56] D-32 opened #126 "MongoDB connection with SSL"
For anybody that's looking to connect to a database with SSL, I got it to work by modifying `agendash-standalone.js`.
Replace line 21 with:
[code]

[2020-07-16 07:56] dandv commented on #58
This has been implemented:

![image](https://user-images.githubusercontent.com/33569/87642805-de317f00-c6fe-11ea-8676-1aee5402ae9e.png)

Result:

![image](https://user-images.githubusercontent.com/33569/87642913-07eaa600-c6ff-11ea-85c0-4a63454b411c.png)

The <kbd>Cancel</kbd> button closes the form and doesn't create any job.

[2020-07-16 07:56] #58 closed

[2020-07-16 07:58] dandv opened #127 "Show the exact time in a tooltip"
Human-friendly times are fine, but I would like to see exactly what time a give job will run at. "In a day" doesn't tell me much.

![image](https://user-images.githubusercontent.com/33569/87643213-6879e300-c6ff-11ea-88ec-346d2590cbc0.png)

The absolute time value could be displayed in a tooltip. This would also solve #1.

[2020-09-30 11:31] imsergiobernal opened #129 "Timezone issue"
At a remote mongo I have

`nextRun: 2020-09-30T07:24:00.000+00:00`

but Agendash shows `2 hours ago` because I am on GMT+2

is anyone having the same issue?

[2020-10-09 05:10] gaurav16694 opened #130 "Tab to show disabled jobs"
There should be a page  which lists down all the disabled jobs

[2020-11-05 11:00] EitanWeMatch opened #159 "it just doesn't work"
this is my code

[code]

I am getting the following errors in the console:

![image](https://user-images.githubusercontent.com/45912629/98232841-d5431280-1f66-11eb-9c26-900c378cdae2.png)

probably related to the package install

[2020-12-01 13:21] ronenteva opened #133 "The future of this project?"
Almost 2 years since the last commit, and high severity issues that are waiting to be merged for more than a year [#112]

Can anyone of the original contributors please tell us if they see a future for this project?

[2020-12-01 13:44] santiq commented on #133
Hi @ronenteva, I created `agendash2` it is written in vue, and since last month is officially part of the agenda project, it has a couple of new features, bug fixes, and mobile/responsive view.

Check it out here

https://github.com/agenda/agendash2

[2020-12-01 14:06] ronenteva commented on #133
Hey @santiq, I'm a big fan of your work!
That's really good news! I actually suggested adding agendash2 a few months ago https://github.com/agenda/agenda/pull/1101.

I tried using Agendash2 but different bugs made me feel it's not ready for production use yet.
Now that I hear it's the official successor of agendash, I'll give it another go and report the issues.

[2020-12-01 16:09] santiq commented on #133
@ronenteva
Thanks, please open issues with the bugs you found on the agendash2, I'll try to fix them

[2020-12-16 08:14] leonardlin commented on #133
https://github.com/agenda/agenda/pull/1101

[2020-12-16 08:14] #133 closed

[2020-12-17 14:37] vtrphan opened #157 "unusable with Azure CosmosDB"
this package is unusable if the DB is not mongoDB pure, but Azure CosmosDB.
the api call failed with an error: Unrecognized pipeline stage name: $facet","name":"MongoError"
CosmosDB does not support all the features of pure mongoDB

Anyone has a suggestion for a workaround?

With the old agendash package there is no such problem

[2020-12-23 01:45] ChangJoo-Park opened #156 "Uncaught ReferenceError: Vue is not defined"
I follow instruction in README.md with my application based on Express.js. but It is not working.

![image](https://user-images.githubusercontent.com/1451365/102949562-e989a180-450b-11eb-8c93-c55c5fb1f452.png)

How do I do?

[2021-01-15 05:42] gagan-bansal commented on #133
I think correct link is https://github.com/agenda/agendash-v2

I see the link to correct repo has been updated in https://github.com/agenda/agenda README.
It would be nice if someone can add depreciated note in this repo's README also with new repo link..

Thanks for great work.

[2021-01-18 09:58] ronenteva opened #155 "Don't show "invalid date" for jobs that never ran"
Shows up when using `{skipImmediate: true}`

![image](https://user-images.githubusercontent.com/2454954/104900119-431ba980-59ae-11eb-9c15-3ecfa7fa06d7.png)

[2021-01-18 10:02] ronenteva opened #154 "Remember last used settings"
Will be useful to save a cookie for refresh interval, page size, etc...

[2021-01-18 11:12] simison opened #136 "Remove Express+Hapi hard dependency"
See https://github.com/agenda/agendash/pull/135#discussion_r559087407

- Remove Express+Hapi as explicit dependencies
- Add documentation how to install+run Agendash
- Sort out Travis CI for the two

[2021-01-18 11:13] simison opened #137 "V2 release plan"
- [x] Merge PR: https://github.com/agenda/agendash/pull/135
- [x] [Remove explicit Hapi/Express dependency](https://github.com/agenda/agendash/pull/135#discussion_r559087407) and add instructions how to add either one of those. https://github.com/agenda/agendash/issues/136
- [x] Fix broken HAPI test https://github.com/agenda/agendash/issues/138
- [x] Fix broken Express test https://github.com/agen

[2021-01-18 13:58] simison opened #138 "Fix broken HAPI test"
See https://github.com/agenda/agendash/pull/135/files#r559584491

[2021-01-18 18:48] simison opened #139 "Fix broken Express test"
Introduced in https://github.com/agenda/agendash/pull/135

[2021-01-18 23:02] simison commented on #137
A few thoughts —

- publish/version automation feels a bit much for my taste — I like to just have these manual so that it does what I expect it to do and I can avoid mistakes:

https://github.com/agenda/agendash/blob/ed737ab2f27f2bee18c2ece5d7381271ed93d71d/package.json#L10-L12

- It might be easier to update dependencies if CDN stuff would just be in `package.json` and bundled:

https://github.c

[2021-01-19 00:19] koresar commented on #136
Looks like we should not remove Express from prod dependencies because the CLI command depends on it. It might be too much of the breaking change to not ship Express along with Agendash. Also breaks `npx` command.

Whereas Hapi is pretty much safe to move to devDependecies. Nothing depends on it. At least nothing that is a public API.

[2021-01-19 02:36] #138 closed

[2021-01-19 02:54] #136 closed

[2021-01-19 03:55] koresar commented on #68
Thanks @RomainVernoux
Your fix was incorporated into Agendash in #68.

[2021-01-19 03:55] #68 closed

[2021-01-19 04:05] koresar commented on #23
This is a stale issue. Such bug do not exist (as far as I can see) in the latest Agendash v2

[2021-01-19 04:05] #23 closed

[2021-01-19 04:35] koresar commented on #139
Fixed.

[2021-01-19 04:35] #139 closed

[2021-01-19 04:49] koresar commented on #137
I believe we should leave link to Sam Quinn. So, it looks like this now:

[2021-01-19 04:52] koresar commented on #30
Support was added in Agendash v2. See #148

[2021-01-19 04:52] #30 closed

[2021-01-19 04:55] #47 closed

[2021-01-19 04:56] koresar commented on #6
Pagination is now a thing in Agendash v2.

[2021-01-19 04:56] #6 closed

[2021-01-19 04:57] koresar commented on #4
This should be fixed in Agendash v2 since it was rewritten with Vue.

[2021-01-19 04:57] #4 closed

[2021-01-19 05:02] koresar commented on #122
Doesn't sound like Agendash issue. Looks like it's your code bug.

[2021-01-19 05:02] #122 closed

[2021-01-19 05:03] koresar commented on #117
Hapi is not a production dependency now. One would need to install it separately if would like to use the Hapi middleware.

Resolved in Agendash v2.

[2021-01-19 05:03] #117 closed

[2021-01-19 05:04] koresar commented on #116
Fixed in Agendash v2.

[2021-01-19 05:04] #116 closed

[2021-01-19 05:07] koresar commented on #107
This is now a UI option in Agendash v2.
![image](https://user-images.githubusercontent.com/1622575/104990290-6c047300-5a70-11eb-860c-f51e36e8fc0c.png)

[2021-01-19 05:07] #107 closed

[2021-01-19 05:09] koresar commented on #106
This is Express.js way of doing things. By design. Middlewares are always executed.
Not the Agendash issue.

[2021-01-19 05:09] #106 closed

[2021-01-19 05:11] koresar commented on #85
Implemented in #148
Released in Agendash v2

[2021-01-19 05:11] #85 closed

[2021-01-19 05:18] koresar commented on #75
Somehow magically the docker image is auto built for us. I dunno who's doing it. But this image always contains the latest `master`.
https://hub.docker.com/r/agenda/agendash/

[2021-01-19 05:18] #75 closed

[2021-01-19 05:20] koresar commented on #86
This should be fixed in Agendash v2. Please try and report back if it's not working.
Closing this issue as stale.

[2021-01-19 05:20] #86 closed

[2021-01-19 05:20] koresar commented on #97
This should be fixed in Agendash v2. Please try and report back if it's not working.
Closing this issue as stale.

[2021-01-19 05:20] #97 closed

[2021-01-19 05:24] koresar commented on #137
@simison I've checked all the boxes I've implemented today. Please, feel free to proceed with the release.

[2021-01-19 06:20] koresar commented on #113
Not reproducible any more. Probably was fixed with Agendash v2

[2021-01-19 06:20] #113 closed

[2021-01-19 08:59] gagan-bansal commented on #107
Thank you @koresar

[2021-01-29 20:30] bulolo opened #152 "how to use with eggjs"
how to use with eggjs

[2021-01-31 07:50] #152 closed

[2021-02-01 10:48] koresar commented on #137
@simison Can you please publish the Agendash v2?

[2021-02-01 12:13] deepcoldy opened #158 "overview is too large"
![image](https://user-images.githubusercontent.com/10922642/99514583-e1978880-29c6-11eb-8590-d049a654df8a.png)

![image](https://user-images.githubusercontent.com/10922642/99514334-97aea280-29c6-11eb-902e-dc9398c721f0.png)

Because of "verview" is getting all data from mongo, our interface is too slow.

should have Pagination or Loading on Scrolling.

[2021-02-01 12:13] simllll opened #160 "Index for sort"
If someone also runs into troubles getting this runining, I had to add a new index to allow for quering jobs:
[code]

[2021-02-01 12:13] ronenteva opened #161 "[Feature request] custom title"
Thanks for creating this new version of Agendash.
Will appreciate the support of custom titles as Agendash does, it's useful for those running multiple Agendas.

[code]

[2021-02-01 12:13] marceloavf opened #162 "[Bug report] Next run starts doesn't calculate correctly"
Hi, thanks for this version of agendash, we started using agenda recently and we came across this repo.

I saw that the `Next run starts` time doesn't match.

I'll take a look when possible here:

https://github.com/Software-On-The-Road/agendash-v2/blob/9ca9932eec40d52ae0bd9067dcacf385dd6c5772/public/app/js/jobdetail.js#L27

[2021-02-01 12:16] koresar commented on #137
All is done.

Except 1 thing - deprecating `agendash2` in NPM registry. @santiq you are the only person who can do that.

[2021-02-01 12:16] #137 closed

[2021-02-05 11:15] ronenteva opened #163 "Agendash not loading at all"
Suddenly Agendash is not loading at all, probably similar issue to #159
No idea why, as it works fine on dev environment, any suggestions?

![image](https://user-images.githubusercontent.com/2454954/107026806-d7bf3d80-67dd-11eb-98a0-1a08e13c3d69.png)

[2021-02-07 18:46] simison commented on #163
You didn't mention it but assumjng this was after upgrade from v1 to v2.

Does v1 still work for you?

[2021-02-07 18:47] simison commented on #163
@ronenteva could you also provide some code for how to replicate? Thanks!

[2021-02-07 20:57] koresar commented on #163
From the screenshot I can clearly see that the problem is server side.

Yeah, we need code.

[2021-02-08 03:55] ronenteva commented on #163
Sorry for not mentioning it, yes it happened after the upgrade from v1 to v2.

Weird but I couldn't replicate this issue, no matter how hard I try:
* The exact same code runs fine on my dev environment
* Other projects with similar setup (v2) work fine on the same prod server
* Cleared `node_modules` folder and reinstalled all dependencies just to make sure

**admin/index.js**
[code]

**services/a

[2021-02-08 11:08] koresar commented on #163
Looking at your description of the problem I believe the cause of it is not Agendash but your infrastructure. If Agendash works everywhere except one environment (production) then I assume it has different HTTP routing setup.

I had similar in my production env. The cause of the problem appeared to be our nginx proxying configuration.

[2021-02-08 13:12] ronenteva commented on #163
Thanks @koresar, I tend to agree with you.
However I also can't easily blame my infrastructure as v2 works fine on other projects in the same production env.

Any ideas will be appreciated, mind sharing what was the problem on your nginx proxy?
If it's a common pitfall it will be useful for others to document it.

[2021-02-08 17:48] harisvsulaiman commented on #163
@ronenteva can you share your nginx conf here , so that we can get more context into what is happening.

Are you using that `router` anywhere else? are you using
Any other middlewares?

I also suggest that you don't expose agendadash in production. You can use the standalone cli to inspect jobs.

[2021-02-08 22:26] koresar commented on #163
@harisvsulaiman Depends on what is "production". In my case it's an internal website. No one can access it except a handful of Ops people. So, I presume Ronen's agendash is not exposed.

[2021-02-09 14:03] hexmarkrecords commented on #156
I'm having the same issue

[2021-02-12 23:54] bitmamahq commented on #156
any help here

[2021-02-13 01:18] dbetter-endor commented on #159
@EitanWeMatch - What's causing this here is `helmet` - which by the way used, applies default settings to CSP (Content Security Policy): [https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP](url).

You can either:
1. Configure helmet specific specific configurations with respect to CSP property:
- [https://helmetjs.github.io/](url) - helmet.contentSecurityPolicy(options)
2. Add another middlewar

[2021-02-13 01:20] dbetter commented on #159
@EitanWeMatch - What's causing this here is `helmet` - which by the way used, applies default settings to CSP (Content Security Policy): [https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP](url).

You can either:
1. Configure helmet specific specific configurations with respect to CSP property:
- [https://helmetjs.github.io/](url) - helmet.contentSecurityPolicy(options)
2. Add another middlewar

[2021-02-13 06:06] 1baga commented on #156
Any help here please...

[2021-02-13 09:53] hexmarkrecords commented on #156
I figured it out it was helmet middleware for me. Version 4 didn't play nice for me. I had to revert to version 3.

[2021-02-15 08:02] 1baga commented on #156
thank you so much

[2021-03-02 09:48] #156 closed

[2021-03-02 11:42] ronenteva commented on #163
My apologies, turns out it was a 301 redirect that forces lowercase URLs.

I really appreciate your help :pray:

[2021-03-02 11:42] #163 closed

[2021-03-02 21:03] koresar commented on #163
@ronenteva I adore people who come back and tell exactly what was wrong. Thank you!

[2021-03-10 15:34] lsimonzor opened #170 "Refresh param seems never to be used"
In the main#fetchData function the "refresh" parameter never seems to be used to set a setTimeout when axios.get resolved.
-> The auto refresh does not seem to work.

[2021-03-17 14:29] Kuhno92 opened #171 "Show job Logs"
It would be nice to have a option to view the logs of a specific job in the UI

[2021-03-22 03:36] koresar commented on #171
What is a "job log" in your understanding?

[2021-03-22 03:56] koresar commented on #154
@ronenteva would you like to contribute this feature? We are looking for people like you. :)

[2021-03-22 03:56] koresar commented on #170
Could you please submit a bugfix PR? People would be very thankful!

[2021-03-22 10:04] Kuhno92 commented on #171
everything which is printed to stdout stderr, so everything with console.log("") and exception logs etc. to see what's going on inside the job directly from the dashboard and not only from the terminal

[2021-03-22 10:28] koresar commented on #171
I see. Where do you see these kinds to be stored? If at all.

Otherwise, how do you see them displayed and streamed?

In other words. We have no idea what you need. Could you please draft the pepper feature request with user stories, etc?

[2021-03-22 11:33] Kuhno92 commented on #171
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/5812823/111983492-798ab780-8b0a-11eb-9832-3ce2b9375663.png">

I would assume to have a new icon in the dashboard for each job, where one can see the console output.
I don't know how agenda is internally structured so I would leave the decision on how to implement this up to you, if the logs will be streamlined live or sto

[2021-03-22 21:39] koresar commented on #171
Agenda stores a minimalistic json on the db per each job. Not sure it's a good idea for agenda to start storing logs (logs are massive typically).

But I believe streaming is possible.

Since you are the only who need this feature we can go two paths:
* you implement it, we love seeing other people contributing.
* your pay someone to implement it.

[2021-03-26 00:16] koresar commented on #171
I'll close this issue for now. But feel free to continue discussion. Will reopen when action plan is conducted.

[2021-03-26 00:16] #171 closed

[2021-04-05 15:04] Kiri23 opened #172 "Bug - Newer version of agenda (v.4.1.2) throw Agenda is not a constructor"
Agenda update their version yesterday to 4.1.2 (https://github.com/agenda/agenda/issues/1266) and now Agendash have some problem with this new version.  Running `npx agendash --db 'url'` gives me an error saying `Agenda is not a constructor`

![image](https://user-images.githubusercontent.com/18028544/113587883-6e04b980-95fd-11eb-9b55-35fc5e3af7de.png)

If I install locally (npm install agendash@2

[2021-04-05 16:54] Kiri23 commented on #172
Fix https://github.com/agenda/agendash/pull/173

[2021-04-19 16:56] LuizMoratelli commented on #172
Any predictions of when we will have this fixed?

[2021-04-30 22:40] samvaran commented on #172
+1 would love this fixed

[2021-05-22 01:17] wootwoot1234 opened #183 "Why are these jobs still marked as "running"?"
I have some jobs that are marked as "running" but they definitely are not.  You can see these jobs are tagged as running but they started running hours ago and are not locked.  I wonder if looking at the locked field is a better way of determining if the job is running?

<img width="1473" alt="Screen Shot 2021-05-21 at 8 14 42 PM" src="https://user-images.githubusercontent.com/419609/119210318-305

[2021-06-29 01:07] wootwoot1234 commented on #183
@koresar, is the code that's used to determine if a job is "running" correct?  It looks like it's using the `lastRunAt` and `lastFinishedAt` values but shouldn't it use the `lockedAt` value?  Seems like if the `lockedAt` value is set, the job is running, right?

[2021-08-02 11:58] 007AMAN007 opened #189 "Agendash not loading properly"
Hi,

I am using Agendash version 2.1.1. But it's not loading the page properly. I am trying to embedding it through iframe.

``` <iframe srcDoc={dashHtml} </iframe>```

dashHtml is the html response coming from agendash's "/dash" API.

I am following the agendash document to make "/dash", following

[code]

When I am trying to load page it's showing blank page with following console errors...pleas

[2021-08-04 04:52] koresar commented on #183
@wootwoot1234 you are right. I had this confusion earlier too. Could you please submit a mini PR to fix that?

[2021-08-12 08:15] mg-83 opened #191 "[Bug] Agenda 4.2.1 produces an error on Agendash when rescheduling a job"
With the latest Version of Agendash there is an error (404 should be 500) thrown, when trying to do a reschedule on a job. It's working with Agenda 4.1.3 and 4.2.0 without problems.

[2021-08-12 18:47] Need4Speed402 commented on #191
Hmm, it looks like anything both requeing or deleting jobs are affected. I drilled down into the issue, and it looks like the `pkFactory` is not a function anymore, but instead an object with an additional `createPk` function as a property. Agendash is assuming that `pkFactory` is a function and failing whenever it tries to modify or delete a job.

https://github.com/agenda/agendash/blob/bbb133f36

[2021-08-21 13:42] nealoke commented on #191
When trying to reschedule a job in the UI you will get a 404 indeed. Quite blocking :(

![image](https://user-images.githubusercontent.com/17417414/130323663-4ad97837-f5dd-4513-b4b0-6ddf62c068be.png)

[2021-09-02 20:01] SRTA-Kapsch commented on #191
Same here error 404 not found. Not sure if it is middleware misconfiguration.

[2021-09-02 20:02] VadymKultenkoDarth commented on #191
Same here error 404 not found. Not sure if it is middleware misconfiguration.

[2021-09-10 15:48] ladislavjacho commented on #191
Also, it's not true, that it works with older versions of agenda - 4.1.3 and 4.2.0.

[2021-09-10 16:06] ladislavjacho commented on #191
It doesn't work

can you confirm it works for you with older versions please?

[2021-09-10 19:04] ladislavjacho commented on #191
Agenda is using new mongodb driver now, see [ObjectId](https://docs.mongodb.com/manual/reference/method/ObjectId/)

fix: #193

[2021-11-10 07:36] mourraille commented on #28
Im getting a 404 for "api/jobs/requeue" and  "api/jobs/delete"
running mongo 4.4.0. Any ideas ?

[2021-11-19 09:59] ririko5834 opened #195 "Cant delete schedule"
Getting this error when I click on bin button to remove schedule

![image](https://user-images.githubusercontent.com/64729293/142603697-09d7139c-ef02-404a-94b1-5f539dc61137.png)

[2021-11-20 11:31] ririko5834 opened #196 "Invalid date is showed on completed jobs"
![image](https://user-images.githubusercontent.com/64729293/142724704-8ed59d43-c423-4318-907f-b4818ba21bdf.png)

When job was scheduled once (using agenda.schedule), display completed instead of Invalid date

[2021-11-29 14:04] dklymenk commented on #195
I am running into a similar issue. However for me it's not just the `delete` route. I get 404 on the `requeue` route as well.

Here are the exact routes:
http://localhost:3000/dash/api/jobs/delete
http://localhost:3000/dash/api/jobs/requeue

Thanks.

[2021-12-01 13:40] ririko5834 commented on #195
Yes also requeue is not working for me

[2021-12-07 18:24] lfowlie opened #197 "Suggestion: Support setting repeatTimezone when scheduling a job"

[2021-12-08 10:07] DimitrisKarp commented on #195
There is already an open issue for the bug that you describe. Plz check https://github.com/agenda/agendash/issues/191

[2021-12-30 11:46] miladbonakdar opened #198 "Mongodb latest version problem"
I have got a project written with nestjs. I added the agendash UI to the application and I have got a problem with the mongo client.
you are using the latest mongodb as a dependency
[code]
that makes my application use the latest version as well and my application crashes because of that

[2022-01-07 13:52] Shahor commented on #191
Is there anything planned to make this move forward?

[2022-01-07 13:56] Shahor commented on #191
@santiq Sorry for pinging you directly but you seem to be the most active contributor.
Can you help on this maybe?

[2022-01-19 00:54] GimpMaster commented on #191
Noticing this issue now. Following to see if it ever gets fixed. Otherwise Agendash is effectively a read-only tool now.

[2022-01-24 23:08] scottbasgaard commented on #191
Same here.

[2022-01-25 14:01] VadymKultenkoDarth commented on #191
what I did was just updated agendahs.js in Controller folder with these

line 3

const { ObjectId } = require("mongodb");

line 45

preMatch[options.property] = ObjectId
(
  options.query
);

line 289

_id: { $in: jobIds.map((jobId) => ObjectId(jobId)) },

line 312

_id: { $in: jobIds.map((jobId) => ObjectId(jobId)) },

________________________________
From: Scott Basgaard ***@***.***>
Sent: Monda

[2022-01-31 04:35] koresar commented on #172
_/senior engineer enters the chat/_

The above fix [broke](https://github.com/agenda/agendash/actions/runs/1770834289) Agendash.
But no worries my fellow junior engineers! I'm here for ya!
Here, I fixed it: https://github.com/agenda/agendash/commit/0189fd3c25902d2bcd6ca329399256d866304c96

_/senior engineer left the chat/_

[2022-01-31 04:35] #172 closed

[2022-01-31 04:40] koresar commented on #198
Hey. Thanks for bug report. I love this error message you provided:

https://www.youtube.com/watch?v=K8E_zMLCRNg

Next time, please try your best fixing this bug as a Pull Request to Agendash (rather than issue).

[2022-01-31 04:40] #198 closed

[2022-01-31 04:41] koresar commented on #196
I hope you can give us a Pull Request next time which fixes the bug.

[2022-01-31 04:41] #196 closed

[2022-01-31 04:42] koresar commented on #191
Merged the PR. Expect v3.0.0 soon.

[2022-01-31 04:42] #191 closed

[2022-01-31 04:42] koresar commented on #195
@ririko5834 please close your issue next time you find that you've created a duplicate. This would help us releasing fixes faster. Much faster.

[2022-01-31 04:42] #195 closed

[2022-01-31 04:44] koresar commented on #189
The bug is in your code! Please find it and report back to this issue. Other people would also want to know how you managed to fix it.

[2022-01-31 04:44] #189 closed

[2022-01-31 04:45] koresar commented on #183
Ok. No PRs this time.

I get it. You don't have much free time fixing bugs for other people. (Me too.)

[2022-01-31 04:45] #183 closed

[2022-01-31 04:45] koresar commented on #170
No? Okay. Next time please submit a PR. Thanks!

[2022-01-31 04:45] #170 closed

[2022-01-31 04:47] koresar commented on #154
click me
[![crickets](https://img.youtube.com/vi/K8E_zMLCRNg/0.jpg)](https://www.youtube.com/watch?v=K8E_zMLCRNg)

[2022-01-31 04:47] #154 closed

[2022-01-31 04:49] koresar commented on #159
@marwej I was planning you would contribute a PR. Would you please?

[2022-01-31 04:49] koresar commented on #130
Waiting for you generous Pull Request, mate!

[2022-01-31 04:50] koresar commented on #197
Hey, @lfowlie
Would you submit a PR please?

[2022-01-31 07:41] ronenteva commented on #154
I apologize :)
As much as I'd like to contribute, my vue skills aren't there...

[2022-01-31 10:27] emilniklas commented on #159
@koresar Hello 👋 @marwej's colleague here. A PR is up at #202 which sets the CSP header to the correct value to host the Agendash app, which should fix OP @EitanWeMatch's problem as well as ours.

[2022-01-31 13:08] koresar commented on #154
No worries. We're all busy

[2022-01-31 13:09] koresar commented on #159
You people are amazing! 😍

[2022-02-02 04:41] #159 closed

[2022-02-02 04:50] koresar commented on #157
Hopefully CosmosDB already added support. If not - please submit a PR fixing the issue.

[2022-02-02 04:50] #157 closed

[2022-02-02 04:51] koresar commented on #155
Could be fixed by now. Could you please check how it works in v3.1 ?

[2022-02-02 04:52] #155 closed

[2022-02-02 04:52] koresar commented on #158
Great idea! Could you please implement it as a PR?

[2022-02-14 14:56] IvoFritsch opened #204 "Does the "Refresh Interval" really work?"
It's not working for me, looking at the code, it doesn't appear to be any code related to make it work.
Is it a feature yet to be finished?
I can do a pull request with the correction I made if this is a problem for everyone.

[2022-04-14 17:37] CooperHanke commented on #204
I have seen the problem myself as well, however, I will note that this is when running the application locally. That wouldn't make a difference, would it?

[2022-04-14 22:25] IvoFritsch commented on #204
Actually yes, because we have to manually refresh the jobs list until the job we want is finished.

[2022-05-26 10:12] jr00n opened #207 "Can't connect to MongoDB Atlas anymore"
This morning I tried agendash after a few months again but now suddenly I've got this message:
node_modules/agendash/lib/controllers/agendash.js:125
    const collection = agenda._collection.collection || agenda._collection;
                                          ^
TypeError: Cannot read properties of undefined (reading 'collection')

using latest versions of agendash (standalone with npx)
npx

[2022-07-11 09:41] amoscatelli opened #210 "Support for ARM64 docker images and v3"
Could you please publish ARM64 docker images ?
Also, I can't find images for v3 :

https://hub.docker.com/r/agenda/agendash

Thank you

[2022-07-12 17:01] amoscatelli commented on #210
@koresar can I help in anyway to speed up the process ?

I don't want to resort to home made solutions

[2022-07-14 13:52] jr00n commented on #207
Any news?

[2022-08-19 01:02] koresar commented on #210
I'm not an admin of those Docker images mate. I have no idea what to do.

[2022-10-20 09:08] jaywink commented on #126
Does setting the env variable `NODE_EXTRA_CA_CERTS` work for you? It solved the same problem for a case for us, not needing to modify the code and get SSL with a MongoDB.

See https://nodejs.org/api/cli.html#node_extra_ca_certsfile

[2022-11-14 07:09] danieltalor opened #217 "Readonly mode"
I was thinking that it will be nice to have a read-only mode
Do you think this is doable easily?